@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

body {
  background: "white";
  font-family:
    system-ui,
    -apple-system,
    sans-serif;
}

.css-ijwub5-MuiTypography-root {
  display: none;
}

.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  content: "next";
  color: whitesmoke;
}

.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  content: 'prev';
  color: whitesmoke;
}